Assignment2_Client/src/wsdl/localhost_8080/Assignment2_SOAP_API/ChiMovie.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

    <xs:element name="Exception" type="tns:Exception"/>

    <xs:element name="addTestMovie" type="tns:addTestMovie"/>

    <xs:element name="addTestMovieResponse" type="tns:addTestMovieResponse"/>

    <xs:element name="getTestMovie" type="tns:getTestMovie"/>

    <xs:element name="getTestMovieResponse" type="tns:getTestMovieResponse"/>

    <xs:element name="testmovie" type="tns:testmovie"/>

    <xs:complexType name="addTestMovie">
        <xs:sequence>
            <xs:element name="arg0" type="xs:string" minOccurs="0"/>
            <xs:element name="arg1" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="addTestMovieResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:testmovie" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="testmovie">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="id" type="xs:decimal" minOccurs="0"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Exception">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getTestMovie">
        <xs:sequence>
            <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getTestMovieResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:testmovie" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>